body {
  font-family: sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('Logo_PI25Q1_kawai.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: top;
  background-color: darkred;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 300px;
}

input {
  display: block;
  margin: 1em 0px;
  border: none;
  padding: 0;
  background: repeating-linear-gradient(80deg, lightgrey 0, lightgrey 1ch, transparent 0, transparent 28px) 0 100% / 280px 3px no-repeat;
  font-size: 2em;
  letter-spacing: 0.4em;
  width: 280px;
  color: white;
}

input:focus {
  outline: none;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background: #ff6f61;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ff3b3b;
}

.result {
  margin-top: 20px;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}
